HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### RSA key ###
src/main/resources/jwt-keys/public_key.pem
src/main/resources/jwt-keys/private_key.pem

### SQL data initialization files ###
docs/mysql/data.sql
docs/postgresql/data.sql

### application.properties files ###
config/application-mysql.properties
config/application-postgresql.properties
config/application-hibernate-init.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### log file ###
logs/requests.log

